<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>To do List</title>
    </head>
    <body>
        <%if(kindOfDay==="Monday"){%>
            <h1 style="color:rgb(37, 144, 245)"><%= kindOfDay %>ToDo List</h1>
        <%}else{%>
            <h1 style="color:rgb(253, 56, 56)"><%= kindOfDay %>ToDo List</h1>
        <%}%>
    </body>
</html>